body {
    background-color: rgb(178, 211, 240);
    opacity: 0;
    transition: opacity 3s;
}

#header {
    margin-top: 2rem;
    text-align: center;
}

#header h1 {
    font-size: 60px;
    font-family: "Kablammo", sans-serif;
    margin-bottom: 10px;
}

#header .quote {
    font-size: 18px;
    font-family: "Poiret One", sans-serif;
    max-width: 700px;
    margin: 0 auto;
    background-color: aliceblue;
    padding-top: 1px;
    padding-bottom: 10px;
    border-style:inherit;
    border-radius: 25px;
}

#header .quote h4 {
    font-size: 18px;
    font-family: "Poiret One", sans-serif;
    max-width: 400px;
    margin: 0 auto;
}

#header .desc {
    font-size: 20px;
    max-width: 910px;
    margin: 0 auto;
}

.input {
    position: absolute;
    font-size: 18px;
    text-align: center;
    border-style: solid;
    float: left;
    width: 50%;
    border-bottom: 0;
    border-left: 0;
    height: 100%;
}

.images {
    padding: 0;
    border: none; 
    background: none;
    cursor: pointer;
}

button:hover img {
    box-shadow: 10px 10px 8px rgb(128, 127, 127);
    transform: scale(1.1);
}

button img {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 10px 10px 8px rgb(175, 175, 175);
}

#exampleImg1 img {
    width: 170px;
    margin-right: 100px;
    height: auto;
    display: block;
}

#exampleImg1 p {
    margin-right: 100px;
}

#exampleImg2 img {
    width: 195px;
    height: auto;
    display: block;
}

#exampleImg3 img {
    width: 170px;
    height: auto;
    display: block;
    margin-right: 100px;
}

#exampleImg3 p {
    margin-right: 100px;
}

#exampleImg4 img {
    width: 195px;
    height: auto;
    display: block;
}

.output {
    font-size: 18px;
    text-align: center;
    border-style: solid;
    float: right;
    width: 50%;
    border-bottom: 0;
    border-right: 0;
    height: 100%;
}

.output #colorResults {
    max-width: 600px;
    margin: 0 auto;
}

#preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#preview img {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 65%;
    margin-right: 20px;
    height: auto;
    display: block;
}

#preview:hover {
    filter: brightness(75%);
}

.examples {
    font-size: 18px;
    font-family: "Poiret One", sans-serif;
    max-width: 700px;
    height: 650px;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 25px;
    align-content: center;
}
