body {
    background-color: rgb(178, 211, 240);
}

#header {
    margin-top: 2rem;
    text-align: center;
}

#header h1 {
    font-size: 60px;
    font-family: "Kablammo", sans-serif;
    margin-bottom: 10px;
}

#header .quote {
    font-size: 18px;
    font-family: "Poiret One", sans-serif;
    max-width: 700px;
    margin: 0 auto;
    background-color: aliceblue;
    padding-top: 1px;
    padding-bottom: 10px;
    border-style:inherit;
    border-radius: 25px;
}

#header .quote h4 {
    font-size: 18px;
    font-family: "Poiret One", sans-serif;
    max-width: 400px;
    margin: 0 auto;
}

#header .desc {
    font-size: 20px;
    font-family: "Poiret One", sans-serif;
    max-width: 910px;
    margin: 0 auto;
}

.input {
    position: absolute;
    font-size: 18px;
    text-align: center;
    border-style: solid;
    float: left;
    width: 50%;
    border-bottom: 0;
    border-left: 0;
    height: 100%;
}

.images {
    padding: 0;
    border: none; 
    background: none;
    cursor: pointer;
}

button:hover img {
    filter: brightness(75%);
}

button img {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
}

#exampleImg1 img {
    width: 200px;
    margin-right: 20px;
    height: auto;
    display: block;
}

#exampleImg2 img {
    width: 225px;
    height: auto;
    display: block;
}

#exampleImg3 img {
    width: 200px;
    height: auto;
    display: block;
    margin-right: 20px;
}

#exampleImg4 img {
    width: 225px;
    height: auto;
    display: block;
}

.output {
    font-size: 18px;
    text-align: center;
    border-style: solid;
    float: right;
    width: 50%;
    border-bottom: 0;
    border-right: 0;
    height: 100%;
}
